# Database - Chỉ dùng Direct Connection
DATABASE_URL="postgresql://postgres:MCiRXBmeOoACMYZIjABszLmiZKioxFxn@shuttle.proxy.rlwy.net:48017/railway"

# Server
PORT=3001
NODE_ENV=development

# Cloudinary
CLOUDINARY_CLOUD_NAME=dm8imevbv
CLOUDINARY_API_KEY=112161771396121
CLOUDINARY_API_SECRET=uO9-1erhsJmYt453HZm3NrFi5tM

# JWT
JWT_SECRET=fashion_store_super_secret_jwt_key_2024
JWT_EXPIRATION=7d