# Database - Chỉ dùng Direct Connection
DATABASE_URL="postgresql://postgres:MCiRXBmeOoACMYZIjABszLmiZKioxFxn@shuttle.proxy.rlwy.net:48017/railway"

# Server
PORT=3001
NODE_ENV=development

# Cloudinary
CLOUDINARY_CLOUD_NAME=dm8imevbv
CLOUDINARY_API_KEY=112161771396121
CLOUDINARY_API_SECRET=uO9-1erhsJmYt453HZm3NrFi5HM

# JWT
JWT_SECRET=fashion_store_super_secret_jwt_key_2024
JWT_EXPIRATION=7d

# Google OAuth (Optional - leave empty to disable Google login)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

# Email configuration (for password reset)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=noreply@fashionstore.com

# Frontend URL
FRONTEND_URL=http://localhost:3000